.animated-logo-container {
  /* Adjust size to fit nicely in the header */
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-logo-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
